.lblItemUserHistory{
    --fx-background-color: rgba(255, 23, 23, 0);
    -fx-text-fill: rgba(221, 244, 21, 1);
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

.lblItemHistory{
    --fx-background-color: rgba(255, 23, 23, 0);
    -fx-text-fill: rgba(217, 223, 165, 1);
    -fx-font-size: 13px;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 500;
}

.lblItemSttHistory{
    -fx-background-color: rgba(255, 23, 23, 0);
    -fx-text-fill: rgba(217, 223, 165, 1);
    -fx-font-size: 13px;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 500;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.hBox-ItemHistory{
    --fx-background-color: transparent;
}

.hBox-ItemHistory:hover{
    -fx-background-color: rgba(146, 250, 250, 0.2);
}

.line{
    -fx-background-color: rgba(248, 13, 13, 0.5);
}

.title-lable{
    -fx-text-fill: rgb(251, 51, 51);
    -fx-font-size: 15px;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 700;
    -fx-alignment: center;
}

.title-lable-home{
    -fx-text-fill: rgb(251, 51, 51);
    -fx-font-size: 18px;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 700;
    -fx-alignment: center;
}

.point{
    --fx-background-color: rgba(255, 23, 23, 0);
    -fx-text-fill: #241C7C;
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-font-family: JejuHallasan;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.title-lable-name{
    -fx-text-fill: rgb(251, 51, 51);
    -fx-font-size: 15px;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 700;
}

/* Style cho toàn bộ ChoiceBox */
.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* Style cho mũi tên dropdown */
.choice-box .arrow {
    -fx-background-color: transparent;
}

/* Style cho item được chọn */
.choice-box .label {
    -fx-text-fill: #cf3232;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 700;
    -fx-font-size: 24px;
}

/* Style cho từng item trong dropdown menu */
.choice-box .menu-item:focused {
    -fx-background-color: rgba(154, 209, 232, 0.5);
}

.choice-box .menu-item > .label {
    -fx-text-fill: #cf3232;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 700;
    -fx-font-size: 24px;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #cf3232;
    -fx-font-family: JejuHallasan;
    -fx-font-weight: 700;
    -fx-font-size: 24px;
}

.line-rank {
    -fx-background-color: linear-gradient(to right,
        rgba(152, 141, 71, 0.1) 0%,
        rgba(152, 141, 71, 0.3) 20%,
        rgba(152, 141, 71, 0.8) 50%,
        rgba(152, 141, 71, 0.3) 80%,
        rgba(152, 141, 71, 0.1) 100%
    );
}